@using GetSearchDemo.ViewModels
@model PersonSearchModel
<head>
    <link rel="stylesheet" href="~/js/bootstrap/css/bootstrap.css" />
</head>
<body>
    <form asp-action="Search" method="get">
        <div id="filterDiv" class="panel panel-body">
            <div class="form-control">
                <label asp-for="Forename" class="col-md-4 control-label"></label>
                <div class="col-sm-8">
                    <input asp-for="Forename" class="form-control" placeholder="Forename" value="@Model.Forename" />
                </div>
            </div>
            <hr />
            <div class="form-control">
                <label asp-for="Surname" class="col-md-4 control-label"></label>
                <div class="col-sm-8">
                    <input asp-for="Surname" class="form-control" placeholder="Surname" value="@Model.Surname" />
                </div>
            </div>
            <hr />
            <div class="form-control">
                <label asp-for="DateOfBirth" class="col-md-4 control-label"></label>
                <div class="col-sm-8">
                    <input asp-for="DateOfBirth" type="text" class="form-control" placeholder="DOB" value="@Model.DateOfBirth">
                </div>
            </div>
        </div>
        <div class="row">
            <button type="button" class="btn btn-success col-md-offset-1" onclick="searchPerson()"> Search</button>
        </div>
    </form>
    <hr />
    <div id="resultDiv"></div>
    <script src="~/js/jquery/jquery.js"></script>
    <script src="~/js/jquery-validation/jquery.validate.js"></script>
    <script src="~/js/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript">
        function searchPerson() {
            var data = { Forename: $("#Forename").val(), Surname: $("#Surname").val(), DateOfBirth: $("#DateOfBirth").val() }
            $.ajax({
                url: "Home/Search",
                type: "GET",
                data: data,
                success: function (result) {
                    $("#resultDiv").html(result);
                }
            });
        }
    </script>
</body>